@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;500&display=swap");

* {
    box-sizing: border-box;
}

.main-container {
    padding-top: 120px;
}

.header {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin-bottom: 50px;
}

#fnameid, #lnameid, #emailid, #phoneid{
    font-family: "Roboto", sans-serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 28.5px;
    height: 55px;
    margin-bottom: 32.5px;
}

#messageid{
    font-family: "Roboto", sans-serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 28.5px;
    margin-bottom: 32.5px;
}

.redes p{
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-weight: 500;
}
.message-error textarea {
    border: 2px solid #b40414;
}

#sendData {
    background: #4C87C2;
    border: 3px solid #4C87C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    border-radius: 28.5px;
    width: 384px;
    height: 55px;
    border: none;
    margin-bottom: 20px;
}

#name {
    height: 55px;
    left: 843px;
}

#lname,
#email,
#phone{
    height: 55px;
    left: 843px;
}

#messageid{
    height: 164px;
}

span.required{
    color: #b40414;
}
  
.form-container {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
  
input {
    background: rgba(255, 255, 255, 0.5);
    border: 2.5px solid #e7e7e7;
    border-radius: 28.5px;
    width: 384px;
    height: 55px;
    margin-bottom: 35px;
    padding-left: 30px;
    overflow: hidden;
  }
  
  .form-container i {
    position: absolute;
    top: 42px;
    right: 0px;
    visibility: hidden;
  }

  .form-container small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;

  }

  .form-container.success input {
    border-color: #2eec71;
    position: absolute;
  }
  
  .form-container.success i.fa-circle-check {
    visibility: visible;
    color: #2eec71;
  }

  .form-container.error i.fa-circle-exclamation {
    visibility: visible;
    color: #e74c3c;
    display: inline;
  }
  
  .form-container.error small {
    color: #e74c3c;
    visibility: visible;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 1% !important; 
    max-height: 20px;
    position: absolute;
    border:solid 1px black;

  }
  

  .accept-conditions {
    position: relative;
    margin: 0 0 20px 40px;
  }

  .accept-conditions label {
    font-family: 'Roboto';
  }

  .form-container.error input {
    border-color: #e74c3c;
  }
  
  input[type="submit"] {
    position: relative;
  }

  input[type="submit"]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover::after {
    background-color: #0062cc;
    cursor: pointer;
  }