@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700&family=Figtree:wght@300;400;500;600;700&family=Hind+Vadodara:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
}

body {
  background-color: #f0f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo-inicio{
background-image: linear-gradient(transparent 45%, #f0f4f7 70%), url(../assets/img/abouts-us/natural-ingredients.JPG);
background-size: cover; 
background-position: 30% 60% ;
}

div.fondo-inicio{
  justify-content: center;
  text-align: center;
}

.main-container h1 {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #b40414;
  align-items: center;
  justify-content: center;
}

#h1{
  color: #222031;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-weight: 400;
  padding-bottom: 10px;
}

.flexbox {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.container {
  min-width: 100%;
}

.imgCenter {
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 60px;
  display: block;
}

h1{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #b40414;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-weight: 400;
  padding-bottom: 10px;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;
  font-size: 20px;
  font-family: 'Museo Sans 300';
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222031;
}

.img-1-container {
  background: url(../assets/img/abouts-us/juans-mom.jpg) no-repeat center center;
}

.img-2-container {
  background: url(../assets/img/abouts-us/ingredients.JPG) no-repeat center center;
}

.img-1-container,
.img-2-container {
  width: 80%;
  height: 305px;
  display: flex;
  align-items: center;
  background-size: cover;
  border-radius: 13px;
  margin-bottom: 20px;
}

.row-values-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222031;
}

.row-values-2 {
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222031;
  justify-content: center;
}

.trust-column,
.quality-column {
  padding: 0 12%;
  gap: 10px;
}

.img-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values-img-container {
  min-width: 60%;
  max-width: 800px;
  height: 340px;
  background: url(../assets/img/abouts-us/sauces.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.resume-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.dev-team {
  position: relative;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 4px 21px 2px rgba(92, 80, 80, 0.75);
  -webkit-box-shadow: 2px 4px 21px 2px rgba(92, 80, 80, 0.75);
  -moz-box-shadow: 2px 4px 21px 2px rgba(92, 80, 80, 0.75);
}

.background {
  background:  #b40414;
  display: flex;
  justify-content: center;
  padding: 5%;
  border-radius: 20px;
  position: relative;
}

.social-icons {
  display: flex;
  flex-direction: column;
  top: 20%;
  right: 7%;
  gap: 8px;
}

.social-icons i:hover {
  opacity: 0.6;
}

.social-icons {
  position: absolute;
}

.dev-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(126, 19, 19);
}

.dev-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

.title-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.title-role p {
  color: rgb(110, 110, 110);
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
}

.info p {
  font-size: 15px;
  text-align: center;
  padding: 0 3%;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
}

/* MEDIA QUERIES */

@media (max-width: 678px) {
  .trust-column,
  .quality-column {
    min-width: 100%;
  }

  .row-values-1 {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

  .member p {
    padding: 0 10%;
  }
}
